body {
    font-family: 'Playfair Display', serif;
}

/* ********************************************************* */
/* ******************** Nav Bar Related ******************** */
/* ********************************************************* */

#mainNavbar {
    font-size: 1.5rem;
}

#mainNavbar .nav-link{
    color: white;
    font-weight: 100;
}

#mainNavbar .nav-link:hover{
    color: black;
    background: aqua;
    font-weight: 600;
    transition: all 0.3s;
}

#mainNavbar .navbar-brand {
    color: aqua;
    font-weight: 600;
}

/* ********************************************************* */
/* ******************** Default sizes ********************** */
/* ********************************************************* */

.Full {
    height: 700px;
}

.Half{
    height: 48%;
    transition: all 0.5s;
}

.Quarter {
    background-color: #007BFF;
    color: white;
    height: auto;
    width: 50%;
    padding: 1%;
    margin: 1%;
    opacity: 1;
    transition: all 0.5s;
}

/* .QuarterHeading {
    height: 20%;
} */

.QuarterContent {
    height: 80%;
}

.Quarter:hover{
    background-color: cyan;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

.ShrinkQuarter {
    width: 0px;
    opacity: 0;
}

.ExtendQuarter {
    width: 100%;
}

.ShrinkHalf {
    height: 0px;
    opacity: 0;
}

.ExtendHalf {
    height: 100%;
}

.img-cells {
    max-width: 125px;
    max-height:125px;
}

.img-cards {
    max-width: 200px;
    max-height:200px;
}

.img-profile {
    width: 30%;
    border-radius: 50%;
}

.HeadingTitle{
    font-size: 400%;
    font-weight: 400;
}

.HeadingParam{
    font-size: 150%;
    font-weight: 100;
}

.card {
    height: 85%;
}

.Invisible {
    display: none;
    height: 0%;
    width: 0%;
}

.circle-border-success {
    border: 10px solid rgb(0, 255, 0);
}

.circle-border-danger {
    border: 10px solid rgb(255, 0, 0);
}

.circle-border-warning {
    border: 10px solid rgb(255, 255, 0);
}

/* ********************************************************* */
/* **************** Different Sizes Related **************** */
/* ********************************************************* */
@media (max-width: 1200px) {
    .Full {
        height: 800px;
    }
    /* .QuarterHeading {
        height: 25%;
    }
    
    .QuarterContent {
        height: 75%;
    } */
    

    .img-cards {
        max-width: 100px;
        max-height:100px;
    }
    .img-profile {
        width: 40%;
        border-radius: 50%;
    }
    .img-contact {
        width: 30%;
        border-radius: 50%;
    }
    .img-cells {
        max-width: 95px;
        max-height:95px;
    }

    .HeadingTitle{
        font-size: 250%;
        font-weight: 400;
    }
    .HeadingParam{
        font-size: 125%;
        font-weight: 100;
    }

    .circle-border-success {
        border: 5px solid rgb(0, 255, 0);
    }
    
    .circle-border-danger {
        border: 5px solid rgb(255, 0, 0);
    }
    
    .circle-border-warning {
        border: 5px solid rgb(255, 255, 0);
    }
}

@media (max-width: 600px) {
    .Full {
        height: 900px;
    }
    
    .img-cards {
        max-width: 75px;
        max-height:75px;
    }
    .img-profile {
        width: 50%;
        border-radius: 50%;
    }
    .img-contact {
        width: 100%;
        border-radius: 50%;
    }
    .img-cells {
        max-width: 70px;
        max-height: 70px;
    }

    .HeadingTitle{
        font-size: 175%;
        font-weight: 400;
    }
    .HeadingParam{
        font-size: 90%;
        font-weight: 100;
    }
    
    .circle-border-success {
        border: 2px solid rgb(0, 255, 0);
    }
    
    .circle-border-danger {
        border: 2px solid rgb(255, 0, 0);
    }
    
    .circle-border-warning {
        border: 2px solid rgb(255, 255, 0);
    }
}