@media (max-width: 1300px) {
    .Full{
        height: 800px;
    }
}

@media (max-width: 600px) {
    .Full{
        height: 500px;
    }
}

.Full {
    height: 800px;
    width: auto;
}
    
.Half{
    width: 100%;
    height: 50%;
    transition: all 0.5s;
}

.Quarter {
    background-color: #007BFF;
    color: white;
    height: auto;
    width: 48%;
    padding: 1%;
    margin: 1%;
    transition: all 0.5s;
}

.HoverEffect {
    background-color: white;
    color: black;
}

.Invisible {
    display: none;
    height: 0%;
    width: 0%;
}

.QuarterClickEffect {
    width: 98%;
}

.HalfClickEffect {
    height: 100%;
}

.BorderCircle {
    border: 10px solid rgb(0, 255, 0);
}