.attribute-header {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 0;
}

.content-full {
    min-height: 800px;
    height: auto;
    text-align: center;
}

.content-half{
    height: 48%;
    transition: all 0.5s;
}

.Quarter {
    background-color: #007BFF;
    color: white;
    height: auto;
    width: 50%;
    padding: 1%;
    margin: 1%;
    opacity: 1;
    transition: all 0.5s;
}

.QuarterContent {
    height: 80%;
}

.Quarter:hover{
    background-color: cyan;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

.ShrinkQuarter {
    width: 0px;
    opacity: 0;
}

.ExtendQuarter {
    width: 100%;
}

.ShrinkHalf {
    height: 0px;
    opacity: 0;
}

.ExtendHalf {
    height: 100%;
    opacity: 1;
}

.Invisible {
    display: none;
    height: 0%;
    width: 0%;
}

@media (max-width: 1300px) {
    .content-full {
        min-height: 900px;
    }
}

@media (max-width: 1000px) {
    .content-full {
        min-height: 1000px;
    }
}