.img-cells {
    max-width: 125px;
    max-height:125px;
}

.img-profile {
    width: 30%;
    border-radius: 50%;
}

@media (max-width: 1300px) {
    .img-profile {
        width: 40%;
        border-radius: 50%;
    }
    .img-cells {
        max-width: 85px;
        max-height:85px;
    }
}

@media (max-width: 1000px) {
    .img-profile {
        width: 50%;
        border-radius: 50%;
    }
    .img-cells {
        max-width: 60px;
        max-height: 60px;
    }
}